<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock%}</title>
</head>
<body>
      <div class="d-flex flex-column flex-md-row align-items-center mb-4 border-bottom" style="padding: 10px">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Айратов сайт</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto"  >
      <a class="me-3 py-2 text-dark text-decoration-none" href="/">Главная</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="/about">О нас</a>
          {% if current_user.username %}
          <a class="me-3 py-2 text-decoration-none" style="color: #6495ed">{{ current_user.username }}</a>
          <a class="me-3 py-2 text-dark text-decoration-none" href="/users">Список пользователей</a>
          <a class="btn btn-danger" href="/logout">Выйти</a>
          {% else%}
              <a class="btn btn-success" href="/login">Войти</a>
          {% endif %}

      </nav>
    </div>
    {% block body %}{% endblock%}
    <div class="container">
    <footer class="container pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-muted">made in Kazan 2021</small>
      </div>
    </div>
  </footer>
</div>
</body>
</html>