{% extends 'base.html' %}
{% block title %}Создание пользователя{% endblock%}

{% block body %}
    <div class="container mt-5">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <h1>Создание пользователя</h1>
    <form method="post">
        <input type="text" name="username"  id="username" class="form-control" placeholder="Имя пользователя"><br>
        <input name="email" id="email" type="text"  class="form-control" placeholder="Введите емайл"><br>
        <input name="password" id="password" type="text" class="form-control" placeholder="Введите пароль"><br>
        <div class="form-check" name="admin"><input class="form-check-input" name="admin" type="checkbox"  id="admin"/>
            <label class="form-check-label "  for="flexCheckDefault">Администратор</label>
        </div>
        <button type="submit" class="btn btn-success">Отправить</button>
    </form>
    </div>
{% endblock%}